{% extends "registration/_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center text-2xl mb-8">Signup</h1>
<hr>
<div class="relative flex min-h-screen text-gray-800 antialiased flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
  <div class="relative py-3 sm:w-96 mx-auto text-center">
    <div class="mt-4 bg-white shadow-md rounded-lg text-left">
      <div class="h-2 bg-indigo-400 rounded-t-md"></div>
      <div class="px-8 py-6">
        {% if messages %}
        <div class="mb-4">
          {% for message in messages %}
            {% if 'Invalid email provider' in message.tags %}
              <div class="text-red-600">{{ message }}</div>
            {% else %}
              <div class="text-green-600">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}      
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="flex justify-between items-baseline">
            <button type="submit" class="bg-indigo-600 px-4 py-2 rounded text-white hover:bg-indigo-500 text-sm">Signup</button>
            <a href="{% url 'login' %}" class="text-sm hover:underline">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
